<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.solgr.health_connect_flutter">

  <uses-sdk tools:overrideLibrary="androidx.health.connect.client"/>

  <!-- To check whether healthCore apk is installed or not -->
  <queries>
    <package android:name="com.google.android.apps.healthdata" />
  </queries>


</manifest>
